<a href="https://colab.research.google.com/github/BreadFeet/DS_Machine_Learning/blob/master/Day32_linux_command.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Linux Command
Google colab의 OS는 linux

In [3]:
# 현재 디렉토리 보기(Print Working Directory)
!pwd

/content

In [4]:
# pwd로 찾은 디렉토리에 있는 파일 확인(list 명령어)
# Colab > folder에 있는 내용을 보여줌
# Jupyter에서 !dir과 같은 기능
!ls

etc  sample_data

In [9]:
# 디렉토리 자세히 보기
!ls -l

total 24
drwxr-xr-x 78 0 root  4096 Jul  2 04:33 etc
drwxr-xr-x  1 0 root  4096 Jul  2 04:46 sample_data
-rw-r--r--  1 0 root 15021 Jul  2 04:35 Wholesale_customers_data.csv

In [8]:
!ls -l ./          # 위와 동일

total 24
drwxr-xr-x 78 0 root  4096 Jul  2 04:33 etc
drwxr-xr-x  1 0 root  4096 Jul  2 04:46 sample_data
-rw-r--r--  1 0 root 15021 Jul  2 04:35 Wholesale_customers_data.csv

Run 출력 결과에서 **d: directory(폴더)**, **-: 파일**을 의미한다

In [7]:
# 하위 경로에 있는 파일 확인
!ls -l ./sample_data

total 55504
-rwxr-xr-x 1 0 root     1697 Jan  1  2000 anscombe.json
-rw-r--r-- 1 0 root   301141 Jun 15 13:37 california_housing_test.csv
-rw-r--r-- 1 0 root  1706430 Jun 15 13:37 california_housing_train.csv
-rw-r--r-- 1 0 root 18289443 Jun 15 13:37 mnist_test.csv
-rw-r--r-- 1 0 root 36523880 Jun 15 13:37 mnist_train_small.csv
-rwxr-xr-x 1 0 root      930 Jan  1  2000 README.md

# Wholesale_customers_data 분석

In [10]:
import pandas as pd

In [12]:
ws = pd.read_csv('./Wholesale_customers_data.csv')
ws.head()

   Channel  Region  Fresh  Milk  Grocery  Frozen  Detergents_Paper  Delicassen
0        2       3  12669  9656     7561     214              2674        1338
1        2       3   7057  9810     9568    1762              3293        1776
2        2       3   6353  8808     7684    2405              3516        7844
3        1       3  13265  1196     4221    6404               507        1788
4        2       3  22615  5410     7198    3915              1777        5185