# Classification (2)
## Iris Data

In [5]:
# sklearn.datasets module always brings data looking like dictionary.
from sklearn import datasets

In [7]:
# Get dataset
iris = datasets.load_iris()
type(iris), iris                            # type: Bunch object

(sklearn.utils.Bunch,
 {'data': array([[5.1, 3.5, 1.4, 0.2],
         [4.9, 3. , 1.4, 0.2],
         [4.7, 3.2, 1.3, 0.2],
         [4.6, 3.1, 1.5, 0.2],
         [5. , 3.6, 1.4, 0.2],
         [5.4, 3.9, 1.7, 0.4],
         [4.6, 3.4, 1.4, 0.3],
         [5. , 3.4, 1.5, 0.2],
         [4.4, 2.9, 1.4, 0.2],
         [4.9, 3.1, 1.5, 0.1],
         [5.4, 3.7, 1.5, 0.2],
         [4.8, 3.4, 1.6, 0.2],
         [4.8, 3. , 1.4, 0.1],
         [4.3, 3. , 1.1, 0.1],
         [5.8, 4. , 1.2, 0.2],
         [5.7, 4.4, 1.5, 0.4],
         [5.4, 3.9, 1.3, 0.4],
         [5.1, 3.5, 1.4, 0.3],
         [5.7, 3.8, 1.7, 0.3],
         [5.1, 3.8, 1.5, 0.3],
         [5.4, 3.4, 1.7, 0.2],
         [5.1, 3.7, 1.5, 0.4],
         [4.6, 3.6, 1. , 0.2],
         [5.1, 3.3, 1.7, 0.5],
         [4.8, 3.4, 1.9, 0.2],
         [5. , 3. , 1.6, 0.2],
         [5. , 3.4, 1.6, 0.4],
         [5.2, 3.5, 1.5, 0.2],
         [5.2, 3.4, 1.4, 0.2],
         [4.7, 3.2, 1.6, 0.2],
         [4.8, 3.1, 1.6, 0.2],
         [5.4, 3.4, 1.5, 0.4],
         [5.2, 4.1, 1.5, 0.1],
         [5.5, 4.2, 1.4, 0.2],
         [4.9, 3.1, 1.5, 0.2],
         [5. , 3.2, 1.2, 0.2],
         [5.5, 3.5, 1.3, 0.2],
         [4.9, 3.6, 1.4, 0.1],
         [4.4, 3. , 1.3, 0.2],
         [5.1, 3.4, 1.5, 0.2],
         [5. , 3.5, 1.3, 0.3],
         [4.5, 2.3, 1.3, 0.3],
         [4.4, 3.2, 1.3, 0.2],
         [5. , 3.5, 1.6, 0.6],
         [5.1, 3.8, 1.9, 0.4],
         [4.8, 3. , 1.4, 0.3],
         [5.1, 3.8, 1.6, 0.2],
         [4.6, 3.2, 1.4, 0.2],
         [5.3, 3.7, 1.5, 0.2],
         [5. , 3.3, 1.4, 0.2],
         [7. , 3.2, 4.7, 1.4],
         [6.4, 3.2, 4.5, 1.5],
         [6.9, 3.1, 4.9, 1.5],
         [5.5, 2.3, 4. , 1.3],
         [6.5, 2.8, 4.6, 1.5],
         [5.7, 2.8, 4.5, 1.3],
         [6.3, 3.3, 4.7, 1.6],
         [4.9, 2.4, 3.3, 1. ],
         [6.6, 2.9, 4.6, 1.3],
         [5.2, 2.7, 3.9, 1.4],
         [5. , 2. , 3.5, 1. ],
         [5.9, 3. , 4.2, 1.5],
         [6. , 2.2, 4. , 1. ],
         [6.1, 2.9, 4.7, 1.4],
         [5.6, 2.9, 3.6, 1.3],
         [6.7, 3.1, 4.4, 1.4],
         [5.6, 3. , 4.5, 1.5],
         [5.8, 2.7, 4.1, 1. ],
         [6.2, 2.2, 4.5, 1.5],
         [5.6, 2.5, 3.9, 1.1],
         [5.9, 3.2, 4.8, 1.8],
         [6.1, 2.8, 4. , 1.3],
         [6.3, 2.5, 4.9, 1.5],
         [6.1, 2.8, 4.7, 1.2],
         [6.4, 2.9, 4.3, 1.3],
         [6.6, 3. , 4.4, 1.4],
         [6.8, 2.8, 4.8, 1.4],
         [6.7, 3. , 5. , 1.7],
         [6. , 2.9, 4.5, 1.5],
         [5.7, 2.6, 3.5, 1. ],
         [5.5, 2.4, 3.8, 1.1],
         [5.5, 2.4, 3.7, 1. ],
         [5.8, 2.7, 3.9, 1.2],
         [6. , 2.7, 5.1, 1.6],
         [5.4, 3. , 4.5, 1.5],
         [6. , 3.4, 4.5, 1.6],
         [6.7, 3.1, 4.7, 1.5],
         [6.3, 2.3, 4.4, 1.3],
         [5.6, 3. , 4.1, 1.3],
         [5.5, 2.5, 4. , 1.3],
         [5.5, 2.6, 4.4, 1.2],
         [6.1, 3. , 4.6, 1.4],
         [5.8, 2.6, 4. , 1.2],
         [5. , 2.3, 3.3, 1. ],
         [5.6, 2.7, 4.2, 1.3],
         [5.7, 3. , 4.2, 1.2],
         [5.7, 2.9, 4.2, 1.3],
         [6.2, 2.9, 4.3, 1.3],
         [5.1, 2.5, 3. , 1.1],
         [5.7, 2.8, 4.1, 1.3],
         [6.3, 3.3, 6. , 2.5],
         [5.8, 2.7, 5.1, 1.9],
         [7.1, 3. , 5.9, 2.1],
         [6.3, 2.9, 5.6, 1.8],
         [6.5, 3. , 5.8, 2.2],
         [7.6, 3. , 6.6, 2.1],
         [4.9, 2.5, 4.5, 1.7],
         [7.3, 2.9, 6.3, 1.8],
         [6.7, 2.5, 5.8, 1.8],
         [7.2, 3.6, 6.1, 2.5],
         [6.5, 3.2, 5.1, 2. ],
         [6.4, 2.7, 5.3, 1.9],
         [6.8, 3. , 5.5, 2.1],
         [5.7, 2.5, 5. , 2. ],
         [5.8, 2.8, 5.1, 2.4],
         [6.4, 3.2, 5.3, 2.3],
         [6.5, 3. , 5.5, 1.8],
         [7.7, 3.8, 6.7, 2.2],
         [7.7, 2.6, 6.9, 2.3],
         [6. , 2.2, 5. , 1.5],
         [6.9, 3.2, 5.7, 2.3],
         [5.6, 2.8, 4.9, 2. ],
         [7.7, 2.8, 6.7, 2. ],
         [6.3, 2.7, 4.9, 1.8],
         [6.7, 3.3, 5.7, 2.1],
         [7.2, 3.2, 6. , 1.8],
         [6.2, 2.8, 4.8, 1.8],
         [6.1, 3. , 4.9, 1.8],
         [6.4, 2.8, 5.6, 2.1],
         [7.2, 3. , 5.8, 1.6],
         [7.4, 2.8, 6.1, 1.9],
         [7.9, 3.8, 6.4, 2. ],
         [6.4, 2.8, 5.6, 2.2],
         [6.3, 2.8, 5.1, 1.5],
         [6.1, 2.6, 5.6, 1.4],
         [7.7, 3. , 6.1, 2.3],
         [6.3, 3.4, 5.6, 2.4],
         [6.4, 3.1, 5.5, 1.8],
         [6. , 3. , 4.8, 1.8],
         [6.9, 3.1, 5.4, 2.1],
         [6.7, 3.1, 5.6, 2.4],
         [6.9, 3.1, 5.1, 2.3],
         [5.8, 2.7, 5.1, 1.9],
         [6.8, 3.2, 5.9, 2.3],
         [6.7, 3.3, 5.7, 2.5],
         [6.7, 3. , 5.2, 2.3],
         [6.3, 2.5, 5. , 1.9],
         [6.5, 3. , 5.2, 2. ],
         [6.2, 3.4, 5.4, 2.3],
         [5.9, 3. , 5.1, 1.8]]),
  'target': array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
         1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
         1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
         2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
         2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]),
  'frame': None,
  'target_names': array(['setosa', 'versicolor', 'virginica'], dtype='<U10'),
  'DESCR': '.. _iris_dataset:\n\nIris plants dataset\n--------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 150 (50 in each of three classes)\n    :Number of Attributes: 4 numeric, predictive attributes and the class\n    :Attribute Information:\n        - sepal length in cm\n        - sepal width in cm\n        - petal length in cm\n        - petal width in cm\n        - class:\n                - Iris-Setosa\n                - Iris-Versicolour\n                - Iris-Virginica\n                \n    :Summary Statistics:\n\n    ============== ==== ==== ======= ===== ====================\n                    Min  Max   Mean    SD   Class Correlation\n    ============== ==== ==== ======= ===== ====================\n    sepal length:   4.3  7.9   5.84   0.83    0.7826\n    sepal width:    2.0  4.4   3.05   0.43   -0.4194\n    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)\n    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)\n    ============== ==== ==== ======= ===== ====================\n\n    :Missing Attribute Values: None\n    :Class Distribution: 33.3% for each of 3 classes.\n    :Creator: R.A. Fisher\n    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)\n    :Date: July, 1988\n\nThe famous Iris database, first used by Sir R.A. Fisher. The dataset is taken\nfrom Fisher\'s paper. Note that it\'s the same as in R, but not as in the UCI\nMachine Learning Repository, which has two wrong data points.\n\nThis is perhaps the best known database to be found in the\npattern recognition literature.  Fisher\'s paper is a classic in the field and\nis referenced frequently to this day.  (See Duda & Hart, for example.)  The\ndata set contains 3 classes of 50 instances each, where each class refers to a\ntype of iris plant.  One class is linearly separable from the other 2; the\nlatter are NOT linearly separable from each other.\n\n.. topic:: References\n\n   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"\n     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to\n     Mathematical Statistics" (John Wiley, NY, 1950).\n   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.\n     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.\n   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System\n     Structure and Classification Rule for Recognition in Partially Exposed\n     Environments".  IEEE Transactions on Pattern Analysis and Machine\n     Intelligence, Vol. PAMI-2, No. 1, 67-71.\n   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions\n     on Information Theory, May 1972, 431-433.\n   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II\n     conceptual clustering system finds 3 classes in the data.\n   - Many, many more ...',
  'feature_names': ['sepal length (cm)',
   'sepal width (cm)',
   'petal length (cm)',
   'petal width (cm)'],
  'filename': 'C:\\Users\\sori-\\anaconda3\\lib\\site-packages\\sklearn\\datasets\\data\\iris.csv'})

In [9]:
# Set x and y
x = iris.data
y = iris.target
x.shape, y.shape

((150, 4), (150,))

In [11]:
# Confirm category of y data
import numpy as np
np.unique(y)

array([0, 1, 2])

In [14]:
# Split train & test data
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, train_size=0.85, random_state=5)
x_train.shape, x_test.shape

((127, 4), (23, 4))

In [19]:
# Regression object
from sklearn.linear_model import LogisticRegression
logi = LogisticRegression(solver='newton-cg')           # Changed solver as the code below cast warning

In [20]:
# Fit model with data
logi.fit(x_train, y_train)
logi.classes_, logi.coef_, logi.intercept_

(array([0, 1, 2]),
 array([[-0.43399638,  0.8941057 , -2.35467719, -1.02093544],
        [ 0.68432277, -0.5119369 , -0.16568917, -1.05106566],
        [-0.25032639, -0.3821688 ,  2.52036636,  2.07200109]]),
 array([  9.41459576,   1.74974005, -11.16433581]))

In [24]:
# Predict the probability of y_test data
# Softmax fx is used for multimonial classes
import pandas as pd
pd.DataFrame(logi.predict_proba(x_test), columns=['Cat_0', 'Cat_1', 'Cat_2']).head()

      Cat_0     Cat_1         Cat_2
0  0.027951  0.949961  2.208835e-02
1  0.000108  0.242999  7.568931e-01
2  0.000097  0.038322  9.615807e-01
3  0.987919  0.012081  4.525860e-08
4  0.000001  0.006586  9.934129e-01

In [32]:
# Predict class
pd.DataFrame(logi.predict(x_test), columns=['Category']).head()

   Category
0         1
1         2
2         2
3         0
4         2

In [27]:
# Compare with the actual y_test data
pd.DataFrame(y_test, columns=['Category']).head()

   Category
0         1
1         2
2         2
3         0
4         2

In [28]:
# Confirm with score value - mean accuracy
logi.score(x_test, y_test)                        # Pretty high value

0.9130434782608695

---
---
## Classification Model Evaluation

In [52]:
from sklearn.metrics import classification_report, confusion_matrix, r2_score

In [50]:
# Get report between the actual data & predicted data
y_pred = logi.predict(x_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00         8
           1       0.83      0.83      0.83         6
           2       0.89      0.89      0.89         9

    accuracy                           0.91        23
   macro avg       0.91      0.91      0.91        23
weighted avg       0.91      0.91      0.91        23

#### Confusion matrix
Confusion matrix shows the answer to 'How many elements were predicted correctly?'
* (i, j) entry: the number of samples with **true label being i-th class** and **predicted label being j-th class**
* Diagonal line: shows how many were predicted correctly

In [54]:
confusion_matrix(y_test, y_pred)

array([[8, 0, 0],
       [0, 5, 1],
       [0, 1, 8]], dtype=int64)

---
---
## Classification with Advertising Data
This data is about if an advertisement was clicked when exposed along with some variables of one's feature.

In [67]:
# Import excel
ad = pd.read_excel('./files/advertising.xls')
ad.tail(3)

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Male,Country,Timestamp,Clicked on Ad
997,51.63,51,42415.72,120.37,Expanded intangible solution,South Jessica,1,Mongolia,2016-02-01 17:24:57,1
998,55.55,19,41920.79,187.95,Proactive bandwidth-monitored policy,West Steven,0,Guatemala,2016-03-24 02:35:54,0
999,45.01,26,29875.80,178.35,Virtual 5thgeneration emulation,Ronniemouth,0,Brazil,2016-06-03 21:43:21,1

In [63]:
# Check info
ad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Daily Time Spent on Site  1000 non-null   float64
 1   Age                       1000 non-null   int64
 2   Area Income               1000 non-null   float64
 3   Daily Internet Usage      1000 non-null   float64
 4   Ad Topic Line             1000 non-null   object
 5   City                      1000 non-null   object
 6   Male                      1000 non-null   int64
 7   Country                   1000 non-null   object
 8   Timestamp                 1000 non-null   datetime64[ns]
 9   Clicked on Ad             1000 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(3), object(3)
memory usage: 78.2+ KB

In [62]:
# Just to check if all topic lines were different
ad.describe(include='all')                 # unique: 1000 -> all different

C:\Users\sori-\anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Male,Country,Timestamp,Clicked on Ad
count,1000.000000,1000.000000,1000.000000,1000.000000,1000,1000,1000.000000,1000,1000,1000.00000
unique,NaN,NaN,NaN,NaN,1000,969,NaN,237,1000,NaN
top,NaN,NaN,NaN,NaN,Networked logistical info-mediaries,Williamsport,NaN,France,2016-05-07 15:16:07,NaN
freq,NaN,NaN,NaN,NaN,1,3,NaN,9,1,NaN
first,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-01-01 02:52:10,NaN
last,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-07-24 00:22:16,NaN
mean,65.000200,36.009000,55000.000080,180.000100,NaN,NaN,0.481000,NaN,NaN,0.50000
std,15.853615,8.785562,13414.634022,43.902339,NaN,NaN,0.499889,NaN,NaN,0.50025
min,32.600000,19.000000,13996.500000,104.780000,NaN,NaN,0.000000,NaN,NaN,0.00000
25%,51.360000,29.000000,47031.802500,138.830000,NaN,NaN,0.000000,NaN,NaN,0.00000
50%,68.215000,35.000000,57012.300000,183.130000,NaN,NaN,0.000000,NaN,NaN,0.50000
75%,78.547500,42.000000,65470.635000,218.792500,NaN,NaN,1.000000,NaN,NaN,1.00000
max,91.430000,61.000000,79484.800000,269.960000,NaN,NaN,1.000000,NaN,NaN,1.00000

In my opinion, column 'Ad topic Line' is the most relevant variable. Yet, the datatype is object making it difficult to engage in the regression. At first, all numeric columns will be included in independent data, predicting 'Clicked on Ad'. ML model will be logistic regression.

In [65]:
# See how many categories in 'Clicked on Ad'
import numpy as np
np.unique(ad['Clicked on Ad'])

array([0, 1], dtype=int64)

In [68]:
# Set x, y data
x = ad[['Daily Time Spent on Site', 'Age', 'Area Income', 'Daily Internet Usage', 'Male']]
y = ad['Clicked on Ad']

In [72]:
# Split train & test data
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, train_size=0.85, random_state=5)
x_train.shape, y_test.shape

((850, 5), (150,))

In [71]:
# Model object
from sklearn.linear_model import LogisticRegression
logi = LogisticRegression()

In [74]:
# Fit model with train data
logi.fit(x_train, y_train)
logi.classes_, logi.coef_, logi.intercept_

(array([0, 1], dtype=int64),
 array([[-6.66573702e-02,  2.67295583e-01, -1.96761444e-05,
         -2.23789211e-02,  1.47652071e-03]]),
 array([0.00536353]))

In [84]:
# Predict probability with test data
pd.DataFrame(logi.predict_proba(x_test), columns=['Click_0', 'Click_1']).head()

    Click_0   Click_1
0  0.968118  0.031882
1  0.047380  0.952620
2  0.000792  0.999208
3  0.884592  0.115408
4  0.973254  0.026746

In [83]:
# Predict class
pd.DataFrame(logi.predict(x_test), columns=['Category']).head()

   Category
0         0
1         1
2         1
3         0
4         0

In [85]:
# Compare with the actual data
y_test.head()

544    0
515    1
193    1
11     0
279    0
Name: Clicked on Ad, dtype: int64

In [91]:
# Confirm score
logi.score(x_test, y_test)

0.9

### Model Evaluation

In [90]:
from sklearn.metrics import classification_report, confusion_matrix
y_pred = logi.predict(x_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.86      0.94      0.90        70
           1       0.95      0.86      0.90        80

    accuracy                           0.90       150
   macro avg       0.90      0.90      0.90       150
weighted avg       0.90      0.90      0.90       150

In [92]:
confusion_matrix(y_test, y_pred)

array([[66,  4],
       [11, 69]], dtype=int64)

### Service to the Public
Save this notebook as pickle so that we can use it later on right away for service.

In [99]:
# Dump it into pickle
import pickle
pickle.dump(logi, open('./storage/advertising.pkl', 'wb'))

In [105]:
# Load pickle to read
logi2 = pickle.load(open('./storage/advertising.pkl', 'rb'))
logi2

LogisticRegression()

If a user insert 5 independent variable, we can predict the outcome via the fitted model.

In [106]:
# Get inputs from users & Predict
time = float(input('Daily time spent on site-----------'))
age = int(input('Age-----------------------------------'))
income = float(input('Area income----------------------'))
daily = float(input('Daily internet usage--------------'))
male = int(input('Male?--------------------------------'))

user_vo = np.array([[time, age, income, daily, male]])
logi2.predict(user_vo)

Daily time spent on site-----------60.08
Age-----------------------------------32
Area income----------------------68450.16
Daily internet usage--------------101.94
Male?--------------------------------0

array([1], dtype=int64)

In conclusion, ff the user data were like above, **the user would be expected to click the Ad** according to this logistic model.